
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    /*padding: 7.01%; */

}

nav {
    overflow: hidden;
    background-color: white;
    padding-top: 2vh;
}

nav a {
    float: left; 
    display: block;
    text-align: left;
    padding-bottom: 5vh;
    padding-left: 6.0%;
    text-decoration: none;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 72px;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #737E75;
}

.green {
    color: #467846;
}

.banner-home-page {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;

    /* display: flex;
    padding-left: 7.01%;
    padding-right: 7.01%;
    justify-content: center; */

}

 /* .banner-img {
    
    display: flex;
    width: 40%;
    height: 40vh;

}  */

.banner-text {
    position: absolute;
    top: 8px;

    width: 47%;

    padding-left: 7.01%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.banner-text p {
    padding-top: 0;
    margin-top: 0;
}
.banner-text h1 {
    padding-top: 10vh;
    padding-bottom: 0;
    margin-bottom: 2vh;
}


/* ---- THREE ROW BOX ---- */

.three-row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14.01%;
    padding-top: 5%;
}

.one-third-box {
    border: solid #467846 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 2vh;
    padding-left: 2vh;
    padding-bottom: 4vh;
    padding-top: 4vh;

     width: 25%; 
     height: 35vh; 

    text-align: center; 
}

/* I want this one to change when you hover over it */
.fun-facts .one-third-box h1 {
    font-weight: 700;
    font-size: 48px;
    color: #467846;
    margin-top: 0;
    margin-bottom: 0;

}

.fun-facts .one-third-box p {
    font-weight: 400;
    font-size: 24px;
    color: #467846;
}